.container {
    width: 100%;
    height: 125px;
    border-top: 4px solid var(--azul);
    background-color: var(--preto-home);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container img {
    height: fit-content;
}