main {
    background-color: var(--cor-fundo-fraca);
}
.titulo {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0px;
    color: var(--fonte-cor);
    text-transform: uppercase;
}

.titulo h1 {
    font: normal 900 normal 60px var(--fonte-alternativa);
}

.titulo h2 {
    font: normal 400 normal 20px var(--fonte-alternativa);
}

.formulario {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 25px;
}

.formulario h3 {
    width: 100%;
    padding: 10px 0px;
    color: var(--fonte-cor);
    font: normal 600 normal 32px var(--fonte-principal);
    border: 1px solid var(--itens-borda-cor);
    border-left: none;
    border-right: none;
}
