.container {
    width: 100%;
    height: 125px;
    padding: 0 40px;
    border-bottom: 4px solid var(--azul);
    background-color: var(--preto);
    box-shadow: 0px 5px 29px 0px var(--azul-sombra);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    display: block;
    height: fit-content;
    width: fit-content;
} 

.links {
    display: flex;
    gap: 24px;
}

.links a {       /*<a> refereces a tag <Link>, ja que o html5 ve ela desta forma*/
    height: 54px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--branco);
    border-radius: 10px;
}

.links a p {
    font: 900 20px var(--fonte-principal);
    color: var(--branco);
}

.links .ativo a {
    border: 2px solid var(--azul);
    box-shadow: 0px 0px 12px 4px var(--azul) inset;
    background-color: var(--preto);
}

.links .ativo a p { color: var(--azul);
}
 
.links .icons { display: none;
}

@media screen and (max-width: 720px) {

    .container { justify-content: center;
    }
    
    .container img { display: none;
    }

    .links a { border: none;
    }

    .links p { display: none;
    }

    .links .icons {
        display: block;
        height: 42px;
        width: 42px;
    }

    .links .ativo a {
        border-radius: 50px;
        border: 2px solid var(--azul);
        box-shadow: 0px 0px 12px 4px var(--azul) inset;
        background-color: var(--azul-fraco);
    }

    .links .ativo a img {
        width: 36px;
        height: 36px;
    }

    .links .ativo a p { display: block;
    }
}