@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --preto-home: #262626;
  --preto-novovideo: #000000E5;
  --azul: #2271D1;
  --branco: #FFFFFF;
  --fonte-principal: "Source Sans 3", sans-serif;
  --frontend: #6BD1FF;
  --backend: ;
  --mobile: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
 }

img {
  display: block;
}