.container {
    width: 100%;
    height: 732px;
    display: flex;
    align-items: center;
}

.container .card {
    height: 334px;
    padding: 0px 40px;
    display: flex;
    gap: 0px 40px;
}

.texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--fonte-cor);
    font-family: var(--fonte-alternativa);
}

.texto h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.texto p {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 24px;
}

.video {
    flex: 1;
    border: 4px solid var(--frontend);
    box-shadow: 0px 0px 17px 8px var(--frontend) inset;
    border-radius: 4px;
}

.video img {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    z-index: -1;
    filter: brightness(210%) saturate(80%);
}

.banner {
    width: 100%;
    position: absolute;
    z-index: -99;
    top: 124px;
}

.banner img { 
    height: 620px;
    width: 100%;
    position: relative;
    z-index: -98;
}

.banner span {
    width: 100%;
    height: 105%;
    position: absolute;
    z-index: -97;
    top: 0px;
    background-color: var(--efeito-banner);
}
