.container {
    width: 100%;
    height: 684px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    color: var(--branco);
    font-family: var(--fonte-principal);
}

.texto h1 {
    font-size: 38px;
    font-weight: 400;
}

.video {
    flex: 1;
    border: 4px solid var(--frontend);
    box-shadow: 0px 0px 17px 8px var(--frontend) inset;
    border-radius: 4px;
    background-image: url(fundo.png);
}

.video img {
    height: 334px;
    width: 100%;
    filter: brightness(200%);
}

.fundo, .fundo img {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    right: 0;
}

.fundo span {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 18, 51, 0.56);
}